@import 'base/variables';
@import 'base/mixins';
@import 'base/placeholders';

@import 'vendors/fancybox';

@import 'base/reset';
@import 'base/fonts';
@import 'base/icons';
@import 'base/typography';
@import 'base/grid';
@import 'base/layout';
@import 'base/forms';
@import 'base/buttons';
@import 'base/modals';

@import 'modules/header';
@import 'modules/big-head';

@import 'pages/home';